
@{
    ViewData["Title"] = "Event home";
    Layout = "~/Views/Shared/_EventLayout.cshtml";
}




<div class="eventContent">


    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header eventCardHeader">Expenses</div>
                <div class="card-body">
                    
                    <div class="row">
                        <div class="col-md-6">
                            Total Event Expense
                        </div>
                        <div class="col-md-6">
                            My share
                        </div>
                    </div>
                 

                    <div class="row">
                        <div class="col-xs-12 ">
                            <nav>
                                <div class="nav nav-tabs nav-fill" id="nav-tab-expense" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-simpleSplit-tab" data-toggle="tab" href="#nav-simpleSplit" role="tab" aria-controls="nav-home" aria-selected="true">Simple Split</a>
                                    <a class="nav-item nav-link" id="nav-splitUsingRate-tab" data-toggle="tab" href="#nav-splitUsingRate" role="tab" aria-controls="nav-profile" aria-selected="false">Split using Rate</a>
                                    <a class="nav-item nav-link" id="nav-advanceSplit-tab" data-toggle="tab" href="#nav-advanceSplit" role="tab" aria-controls="nav-contact" aria-selected="false">Advance Split</a>

                                </div>
                            </nav>
                            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-simpleSplit" role="tabpanel" aria-labelledby="nav-home-tab">
                                    Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                                </div>
                                <div class="tab-pane fade" id="nav-splitUsingRate" role="tabpanel" aria-labelledby="nav-profile-tab">
                                    Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                                </div>
                                <div class="tab-pane fade" id="nav-advanceSplit" role="tabpanel" aria-labelledby="nav-contact-tab">
                                    Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                                </div>

                            </div>

                        </div>
                    </div>


                </div>
                <div class="card-footer eventCardFooter">Footer</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header eventCardHeader">Event Money Pool</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            Total Event Pool
                        </div>
                        <div class="col-md-6">
                            My contribution
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 ">
                            <nav>
                                <div class="nav nav-tabs nav-fill" id="nav-tab-pool" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-contribute-tab" data-toggle="tab" href="#nav-contribute" role="tab" aria-controls="nav-home" aria-selected="true">Contribute</a>
                                   

                                </div>
                            </nav>
                            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent-pool">
                                <div class="tab-pane fade show active" id="nav-contribute" role="tabpanel" aria-labelledby="nav-home-tab">
                                    Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                                </div>
                               

                            </div>

                        </div>
                    </div>
                </div>
                <div class="card-footer eventCardFooter">Footer</div>
            </div>
        </div>
    </div>
</div>
