@page "/app/events/{id}/eventFriends"
@model Hisab.UI.EventFriendsModel
@{
    ViewData["Title"] = "EventFriends";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
    
    <div style="float:left; margin:10px">
        <button><i class="fa fa-undo-alt"></i> Back</button>
    </div>

    <div style="float:right; margin:10px">
        <button><i class="fa fa-undo-alt"></i> Add Friends to Event</button>
    </div>

    <div class="card container scroller">

        <div class="row ">
            <div class="col-2 col-md-2">

                <!-- Default checked -->
                <div class="custom-control custom-checkbox checkbox-xl ">

                    <input type="checkbox" class="custom-control-input" id="checkbox-3" checked="">
                    <label class="custom-control-label" for="checkbox-3">

                    </label>

                </div>
            </div>
            <div class="col-2 col-md-2">
                <img class="friendImage" src="~/img/icons8-user-male-skin-type-5-50.png" alt="Avatar">
            </div>
            <div class="col-8 col-md-8">

                <div class="card-body">
                    <div>Nick Name</div>
                    <div>Email</div>
                </div>
            </div>


        </div>


        <div class="row ">
            <div class="col-2 col-md-2">

                <!-- Default checked -->
                <div class="custom-control custom-checkbox checkbox-xl ">

                    <input type="checkbox" class="custom-control-input" id="checkbox-3" checked="">
                    <label class="custom-control-label" for="checkbox-3">

                    </label>

                </div>
            </div>
            <div class="col-2 col-md-2">
                <img class="friendImage" src="~/img/icons8-user-male-skin-type-5-50.png" alt="Avatar">
            </div>
            <div class="col-8 col-md-8">

                <div class="card-body">
                    <div>Nick Name</div>
                    <div>Email</div>
                </div>
            </div>


        </div>

        <div class="row ">
            <div class="col-2 col-md-2">

                <!-- Default checked -->
                <div class="custom-control custom-checkbox checkbox-xl ">

                    <input type="checkbox" class="custom-control-input" id="checkbox-3" checked="">
                    <label class="custom-control-label" for="checkbox-3">

                    </label>

                </div>
            </div>
            <div class="col-2 col-md-2">
                <img class="friendImage" src="~/img/icons8-user-male-skin-type-5-50.png" alt="Avatar">
            </div>
            <div class="col-8 col-md-8">

                <div class="card-body">
                    <div>Nick Name</div>
                    <div>Email</div>
                </div>
            </div>


        </div>

        <div class="row ">
            <div class="col-2 col-md-2">

                <!-- Default checked -->
                <div class="custom-control custom-checkbox checkbox-xl ">

                    <input type="checkbox" class="custom-control-input" id="checkbox-3" checked="">
                    <label class="custom-control-label" for="checkbox-3">

                    </label>

                </div>
            </div>
            <div class="col-2 col-md-2">
                <img class="friendImage" src="~/img/icons8-user-male-skin-type-5-50.png" alt="Avatar">
            </div>
            <div class="col-8 col-md-8">

                <div class="card-body">
                    <div>Nick Name</div>
                    <div>Email</div>
                </div>
            </div>


        </div>

        <div class="row ">
            <div class="col-2 col-md-2">

                <!-- Default checked -->
                <div class="custom-control custom-checkbox checkbox-xl ">

                    <input type="checkbox" class="custom-control-input" id="checkbox-3" checked="">
                    <label class="custom-control-label" for="checkbox-3">

                    </label>

                </div>
            </div>
            <div class="col-2 col-md-2">
                <img class="friendImage" src="~/img/icons8-user-male-skin-type-5-50.png" alt="Avatar">
            </div>
            <div class="col-8 col-md-8">

                <div class="card-body">
                    <div>Nick Name</div>
                    <div>Email</div>
                </div>
            </div>


        </div>


        <div class="row ">
            <div class="col-2 col-md-2">

                <!-- Default checked -->
                <div class="custom-control custom-checkbox checkbox-xl ">

                    <input type="checkbox" class="custom-control-input" id="checkbox-3" checked="">
                    <label class="custom-control-label" for="checkbox-3">

                    </label>

                </div>
            </div>
            <div class="col-2 col-md-2">
                <img class="friendImage" src="~/img/icons8-user-male-skin-type-5-50.png" alt="Avatar">
            </div>
            <div class="col-8 col-md-8">

                <div class="card-body">
                    <div>Nick Name</div>
                    <div>Email</div>
                </div>
            </div>


        </div>

        <div class="row ">
            <div class="col-2 col-md-2">

                <!-- Default checked -->
                <div class="custom-control custom-checkbox checkbox-xl ">

                    <input type="checkbox" class="custom-control-input" id="checkbox-3" checked="">
                    <label class="custom-control-label" for="checkbox-3">

                    </label>

                </div>
            </div>
            <div class="col-2 col-md-2">
                <img class="friendImage" src="~/img/icons8-user-male-skin-type-5-50.png" alt="Avatar">
            </div>
            <div class="col-8 col-md-8">

                <div class="card-body">
                    <div>Nick Name</div>
                    <div>Email</div>
                </div>
            </div>


        </div>

        <div class="row ">
            <div class="col-2 col-md-2">

                <!-- Default checked -->
                <div class="custom-control custom-checkbox checkbox-xl ">

                    <input type="checkbox" class="custom-control-input" id="checkbox-3" checked="">
                    <label class="custom-control-label" for="checkbox-3">

                    </label>

                </div>
            </div>
            <div class="col-2 col-md-2">
                <img class="friendImage" src="~/img/icons8-user-male-skin-type-5-50.png" alt="Avatar">
            </div>
            <div class="col-8 col-md-8">

                <div class="card-body">
                    <div>Nick Name</div>
                    <div>Email</div>
                </div>
            </div>


        </div>


        <div class="row ">
            <div class="col-2 col-md-2">

                <!-- Default checked -->
                <div class="custom-control custom-checkbox checkbox-xl ">

                    <input type="checkbox" class="custom-control-input" id="checkbox-3" checked="">
                    <label class="custom-control-label" for="checkbox-3">

                    </label>

                </div>
            </div>
            <div class="col-2 col-md-2">
                <img class="friendImage" src="~/img/icons8-user-male-skin-type-5-50.png" alt="Avatar">
            </div>
            <div class="col-8 col-md-8">

                <div class="card-body">
                    <div>Nick Name</div>
                    <div>Email</div>
                </div>
            </div>


        </div>

        <div class="row ">
            <div class="col-2 col-md-2">

                <!-- Default checked -->
                <div class="custom-control custom-checkbox checkbox-xl ">

                    <input type="checkbox" class="custom-control-input" id="checkbox-3" checked="">
                    <label class="custom-control-label" for="checkbox-3">

                    </label>

                </div>
            </div>
            <div class="col-2 col-md-2">
                <img class="friendImage" src="~/img/icons8-user-male-skin-type-5-50.png" alt="Avatar">
            </div>
            <div class="col-8 col-md-8">

                <div class="card-body">
                    <div>Nick Name</div>
                    <div>Email</div>
                </div>
            </div>


        </div>


        <div class="row ">
            <div class="col-2 col-md-2">

                <!-- Default checked -->
                <div class="custom-control custom-checkbox checkbox-xl ">

                    <input type="checkbox" class="custom-control-input" id="checkbox-3" checked="">
                    <label class="custom-control-label" for="checkbox-3">

                    </label>

                </div>
            </div>
            <div class="col-2 col-md-2">
                <img class="friendImage" src="~/img/icons8-user-male-skin-type-5-50.png" alt="Avatar">
            </div>
            <div class="col-8 col-md-8">

                <div class="card-body">
                    <div>Nick Name</div>
                    <div>Email</div>
                </div>
            </div>


        </div>

        <div class="row ">
            <div class="col-2 col-md-2">

                <!-- Default checked -->
                <div class="custom-control custom-checkbox checkbox-xl ">

                    <input type="checkbox" class="custom-control-input" id="checkbox-3" checked="">
                    <label class="custom-control-label" for="checkbox-3">

                    </label>

                </div>
            </div>
            <div class="col-2 col-md-2">
                <img class="friendImage" src="~/img/icons8-user-male-skin-type-5-50.png" alt="Avatar">
            </div>
            <div class="col-8 col-md-8">

                <div class="card-body">
                    <div>Nick Name</div>
                    <div>Email</div>
                </div>
            </div>


        </div>

        <div class="row ">
            <div class="col-2 col-md-2">

                <!-- Default checked -->
                <div class="custom-control custom-checkbox checkbox-xl ">

                    <input type="checkbox" class="custom-control-input" id="checkbox-3" checked="">
                    <label class="custom-control-label" for="checkbox-3">

                    </label>

                </div>
            </div>
            <div class="col-2 col-md-2">
                <img class="friendImage" src="~/img/icons8-user-male-skin-type-5-50.png" alt="Avatar">
            </div>
            <div class="col-8 col-md-8">

                <div class="card-body">
                    <div>Nick Name</div>
                    <div>Email</div>
                </div>
            </div>


        </div>

    </div>


