@page "/app/events/{id}/transactions"
@model Hisab.UI.TransactionsModel
@{
    ViewData["Title"] = "Transactions";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Transactions</h1>



<div class="container transactions">

    <vc:Transaction></vc:Transaction>

    <vc:Transaction></vc:Transaction>
</div>



