@page
@model Hisab.UI.IndexModel

@{
    Layout = "_Layout";
}



    <div>
        
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">

                    <div class="carouselContent">
                        <p>
                            Split any trip expenses with friends and family. Unique split options make Hisab an idle tool for group trips.
                        </p>
                        
                        
                    </div>
                    <img class="d-block carouselImage" src="~/img/homeE.png" alt="First slide" asp-append-version="true">
                </div>
                <div class="carousel-item">

                    <div class="carouselContent">
                        <p>
                            Set up Money Pool upfront for any group trips. Track any expenses from the Money Pool.
                        </p>
                        
                       
                    </div>
                    <img class="d-block carouselImage" src="~/img/home_car.png" alt="Second slide" asp-append-version="true">
                </div>
                <div class="carousel-item">
                    <div class="carouselContent">
                        <p>
                            Track transactions and know <i>who owns who</i> and how much.
                            Ability to <i>Question</i> transaction for any mistake in capturing expenses.
                        </p>
                        
                        
                    </div>
                    <img class="d-block carouselImage" src="~/img/home_restaurant.png" alt="Third slide" asp-append-version="true">
                </div>
                <div class="carousel-item">

                    <div class="carouselContent">
                        <p>
                            Settle with friends and family with awesome Settlement feature.
                        </p>
                        
                        
                    </div>
                    
                    <img class="d-block carouselImage" src="~/img/home_plane.png" alt="Fourth slide" asp-append-version="true">
                </div>
            </div>
        </div>
    </div>




