@page 
@model Hisab.UI.IndexModel

@{
    Layout = "_Layout";
}



    <div>
        
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">

                    <div class="carouselContent">
                        <p>
                            You count <i>memories</i> when you are out with your friends and family, let <i>Hisaab</i> count your expenses.
                        </p>
                       

                    </div>
                    <img class="d-block carouselImage" src="~/img/homeE.png" alt="First slide" asp-append-version="true">
                </div>
                <div class="carousel-item">

                    <div class="carouselContent">
                        <p>
                            Create <i>Events</i> and <i>Invite</i> your friends and family to join.
                        </p>
                       


                    </div>
                    <img class="d-block carouselImage" src="~/img/home_car.png" alt="Second slide" asp-append-version="true">
                </div>
                <div class="carousel-item">
                    <div class="carouselContent">
                        <p>
                            <i>Split bills</i> and track your expenses.
                        </p>
                        


                    </div>
                    <img class="d-block carouselImage" src="~/img/home_restaurant.png" alt="Third slide" asp-append-version="true">
                </div>
                <div class="carousel-item">

                    <div class="carouselContent">
                        <p>
                            Stay on top of <i>who owns who</i> AND <i>how much</i> with the awesome Settltement feature.
                        </p>
                        
                    </div>
                    
                    <img class="d-block carouselImage" src="~/img/home_plane.png" alt="Fourth slide" asp-append-version="true">
                </div>
            </div>
        </div>
    </div>




