@page "/login"
@model Hisab.UI.LoginPageModel

@{
    Layout = "_Layout";

}



<!-- Default form login -->
    <form asp-page="LoginPage" method="post" class="text-center border border-light p-5 loginForm">

        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

        <p class="h4 mb-4">Sign in</p>

        <!-- Email -->
        <input asp-for="loginVm.Email" type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
        <span asp-validation-for="loginVm.Email" class="text-danger"></span>
        <!-- Password -->
        <input asp-for="loginVm.Password" type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
        <span asp-validation-for="loginVm.Password" class="text-danger"></span>

        <div class="d-flex justify-content-around">
            <div>
                <!-- Remember me -->
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                    <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                </div>
            </div>
            <div>
                <!-- Forgot password -->
                <a asp-page="ForgotPassword">Forgot password?</a>
            </div>
        </div>

        <!-- Sign in button -->
        <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>

        <!-- Register -->
        <p>
            Not a member?
            <a asp-page="Register">Register</a>
        </p>



    </form>
<!-- Default form login -->

@section scripts{
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>

}







