@page
@model Hisab.UI.PlansModel

@{
    Layout = "_Layout";
}

    <div class="onlyContent">
        <p>
            Hisab services are FREE to use for now as it's at inital stage.
        </p>
        <p>
            
        </p>
    </div>
        
   

