@page
@model Hisab.UI.PlansModel

@{
    Layout = "_Layout";
}

    <div class="onlyContent">
        <p>
            We will keep Hisaab FREE to use in <b>2021</b>.
        </p>
        <p>
            We all look forward to 2021 in hope for a COVID-19 free world. 
            We wish everyone can go out to their favourite resturants or enjoy holiday with their family and friends.

        </p>





    </div>
        
   

