@page
@model Hisab.UI.PlansModel

@{
    Layout = "_Layout";
}

    <div class="onlyContent">
        <p>
            Your first 3 Hisaab events are FREE to use.
        </p>
        <p>
            After that, you pay only <i>$5 (AUD) per Hisaab event</i>.
        </p>
        <p>
            There is no ongoing monthly or yearly subscriptions. You pay as you use the services.
        </p>

        
    </div>
        
   

