@page
@model Hisab.UI.PlansModel

@{
    Layout = "_Layout";
}

    <div class="onlyContent">
        <p>
            Hisab services are FREE to use.
        </p>
        <p>
            There is a cost to develop, maintain and run the services. We rely on your <i>Donations</i> to keep going.
        </p>
        
    </div>
        
   

