@page
@model Hisab.UI.PlansModel

@{
    Layout = "_Layout";
}

    <div class="onlyContent">
        The cost to use Hisab is just $5 per event. 
        <p>
            You dont have to pay any monthly or yearly subscription fee. You only pay if you use
            the Hisab services.
        </p>
        <p>
            Your first event in Hisab is FREE !!
        </p>
    </div>
        
   

