$bodyColor: #F4F5F7;
$defaultFontColor: #003B5C;

$primaryColor: #008da8;
$primaryFontColor: #ffffff;

$secondaryColor: #003B5C;



$defaultFont: 'Lato', sans-serif;
$normalWeight: 300;
$boldWeight: 700;
$gutter: 2%;
$gutterDouble: (2 * $gutter);
