@model Hisab.UI.ViewModels.AdminVm
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<div class="card-columns myevents">
    @foreach (var hisabEvent in Model.Events)
    {
        <div class="card" style="width: 18rem;">
            @*@if (hisabEvent.EventId % 2 == 0)
            {
                <img class="card-img-top" src="/img/eventCardImage2.jpg"  alt="Card image cap">
            }
            else
            {
                <img class="card-img-top" src="/img/eventCardImage1.jpg" alt="Card image cap">
            }*@

            <div class="card-body">
                <h5 class="card-title"> @hisabEvent.EventName</h5>
                <p class="card-text">
                    This event is created by @hisabEvent.CreatedUserNickName
                </p>
                <a class="nav-link" asp-controller="Event" asp-action="Dashboard" asp-route-id="@hisabEvent.EventId">View</a>
            </div>
        </div>
    }
</div>

