
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sucessfully Log in</title>
</head>
<body>
<a asp-controller="AppHome" asp-action="Logout">Logout</a>
    
</body>
</html>
