@page
@model Hisab.UI.Pages.App.AccessDeniedModel
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <div class="onlyContent">
        <img style="width:100%" asp-append-version="true" src="~/img/accessDeny.png" />
    </div>


