@page
@model Hisab.UI.AlertsModel
@{
    ViewData["Title"] = "Alerts";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Alerts</h1>
<div style="float:right; margin:10px">
    <button><i class="fa fa-undo-alt"></i> Clear All</button>
</div>
<div>
    Event
    Transaction Id
    Transaction Date
    Transaction Title
    Alert type
    Action
</div>

