@page
@model Hisab.UI.InvitesModel
@{
    ViewData["Title"] = "Invites";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


    <div class="container">


        @if (Model.Events.Count > 0)
        {
            <div class="card-columns">
                @foreach (var hisabEvent in Model.Events)
                {

                    <div class="card">
                        <div class="row no-gutters">
                            <div class="col-5">
                                <img style="width:100%; height:100%" src="@hisabEvent.EventImagePath" alt="Card image cap" asp-append-version="true">
                            </div>
                            <div class="col-7">
                                <div class="card-body">
                                    <h5 class="card-title"> @hisabEvent.EventName</h5>
                                    <p class="card-text">
                                        @hisabEvent.EventMessage
                                    </p>

                                </div>
                                
                            </div>
                           
                        </div>
                        <div class="row no-gutters">
                            <div class="col-5">
                                <form>
                                    <button class="btn btn-outline-danger">Delete</button>

                                </form>
                            </div>
                            <div class="col-7" style="text-align:right">
                                <form>
                                    <button class="btn btn-outline-primary">Join</button>

                                </form>
                            </div>
                        </div>
                    </div>


                }
            </div>
        }
        else
        {
            <div class="stitched">

                <p>Hey !! you don have any invites &#128140 </p>

            </div>
        }




    </div>
