@model Hisab.UI.ViewModels.EventVm
@{

    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<b>@Model.EventName</b>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#EventEventNavbarSupportedContent" aria-controls="EventNavbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="EventEventNavbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" asp-controller="Event" asp-action="Dashboard">Dashboard </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Event" asp-action="Friends">Friends</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Event" asp-action="Transactions">Transactions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Event" asp-action="Settlement">Settlement</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Event" asp-action="Settings">Settings</a>
            </li>


        </ul>

    </div>
</nav>



<section class="appBody">
    @RenderBody()

</section>



@RenderSection("scripts", false)

