<div class="MarketingPlaceholder">
    <h1>Welcome to Hisab.io</h1>
    
    <p> Manage your shared expenses with ease.</p>
    
    <p>
        After a trip or an event with friends or family, we often spend lot of time sorting out <i>who owns who</i> and <i>how much</i>? 
    </p>
    
    <p>
        Hisab will take the pain away by allowing you to:
        <ul>
            <li>Create an <i>event</i></li>
            <li>Invite friends to join</li>
            <li>Add common and non-common expenses using various ways to split an expense</li>
            
        </ul>
    </p>
    
    <p>
        (Please note, Hisab is under beta release. You can loose your data when we upgrade.)
    </p>
</div>
