
@{
    ViewData["Title"] = "ConfirmEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 @section LeftSide
 {
     
     <div>
         <p>
             Thank you for confirming your email. You can now <a href="@Url.Action("Index")">Login</a>
        
         </p>
     </div>
 }



