
@{
    ViewData["Title"] = "HandleError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error</h2>

@section LeftSide
{
    <div>
        @ViewData["ErrorMessage"]
    </div>
    
    <div>
        @ViewData["RouteOfException"]
    </div>
}

@section RightSide
{
   
}








